In [19]:
import numpy as np
import pandas as pd

In [20]:
input_data = pd.read_csv('X_Test_Data_Input.csv')
input_data.head(10)

,ID,Column0,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,...,Column12,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column21
0,07cf2025382f6325b316e128b1b90999,1.0,1986,53.0,0.678139,0.701403,-0.007469,-0.407939,-0.015607,0.554860,...,1,1,0.001351,0.003390,0.0,0,0.0,0,0,0
1,eb972eb3a1f8d0d1a13f45e7c07d37d4,2.0,1579,12.0,0.678139,0.701403,-0.007468,-0.407939,-0.015607,0.142149,...,1,0,0.001351,0.003390,0.0,0,0.0,0,0,0
2,ee35e164b3ddc25a9f40243b81ad290d,0.0,898,3817.0,-2.028572,-1.855728,NaN,-0.407939,-0.015607,-0.774979,...,0,0,NaN,0.003390,0.0,0,0.0,0,0,0
3,28229ccd7bad7dd83324a4175a7e0531,0.0,79,3449.0,-0.675216,-0.577162,-0.007469,0.004020,-0.015607,0.635264,...,0,1,0.001351,0.003390,0.0,0,0.0,0,0,0
4,2f94873da2c332d28f111742818e0fbb,1.0,646,6510.0,-2.028572,-1.855728,NaN,-0.407939,-0.015434,-0.774979,...,1,1,NaN,0.003390,0.0,0,0.0,0,0,0
5,e9a150eb0f6c8129985085f1c997e161,0.0,2421,5399.0,0.678139,0.701403,-0.007469,1.157836,-0.015607,0.297169,...,0,0,0.001351,0.003390,0.0,0,0.0,0,0,0
6,836ee401ee369aedf090fc652823173e,0.0,2495,2171.0,-1.126335,-0.577162,-0.007469,-0.407939,-0.015607,0.277564,...,0,0,0.001351,0.003390,0.0,0,0.0,0,0,0
7,5446f25c8fa1da47a86c75902b1e656a,0.0,2495,6699.0,0.678139,0.701403,-0.007468,-0.296268,-0.015592,1.060594,...,0,0,0.001351,0.003390,0.0,0,0.0,0,0,0
8,689a2c2135e6f8805bb189577f3aec62,0.0,965,3605.0,0.678139,0.701403,-0.007468,0.247293,-0.015602,1.108208,...,0,0,0.001351,0.003390,0.0,0,0.0,0,0,0
9,1543f8e4bf1a896b7179e584926daaf2,0.0,1004,6492.0,-1.126335,-1.216445,-0.007468,-0.407939,-0.015607,0.963954,...,1,1,0.001351,0.003391,0.0,0,0.0,0,0,0

In [21]:
input_data.shape

(261712, 23)

In [22]:
target = pd.read_csv('Y_Test_Data_Target.csv')
target.head(10)

                                 ID  target
0  07cf2025382f6325b316e128b1b90999       0
1  eb972eb3a1f8d0d1a13f45e7c07d37d4       0
2  ee35e164b3ddc25a9f40243b81ad290d       0
3  28229ccd7bad7dd83324a4175a7e0531       0
4  2f94873da2c332d28f111742818e0fbb       0
5  e9a150eb0f6c8129985085f1c997e161       0
6  836ee401ee369aedf090fc652823173e       0
7  5446f25c8fa1da47a86c75902b1e656a       0
8  689a2c2135e6f8805bb189577f3aec62       0
9  1543f8e4bf1a896b7179e584926daaf2       0

In [23]:
target.shape

(261712, 2)

In [24]:
# Merge these two data sets: 
data = pd.merge(input_data, target, on= 'ID')

In [25]:
data.head(10)

,ID,Column0,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,...,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column21,target
0,07cf2025382f6325b316e128b1b90999,1.0,1986,53.0,0.678139,0.701403,-0.007469,-0.407939,-0.015607,0.554860,...,1,0.001351,0.003390,0.0,0,0.0,0,0,0,0
1,eb972eb3a1f8d0d1a13f45e7c07d37d4,2.0,1579,12.0,0.678139,0.701403,-0.007468,-0.407939,-0.015607,0.142149,...,0,0.001351,0.003390,0.0,0,0.0,0,0,0,0
2,ee35e164b3ddc25a9f40243b81ad290d,0.0,898,3817.0,-2.028572,-1.855728,NaN,-0.407939,-0.015607,-0.774979,...,0,NaN,0.003390,0.0,0,0.0,0,0,0,0
3,28229ccd7bad7dd83324a4175a7e0531,0.0,79,3449.0,-0.675216,-0.577162,-0.007469,0.004020,-0.015607,0.635264,...,1,0.001351,0.003390,0.0,0,0.0,0,0,0,0
4,2f94873da2c332d28f111742818e0fbb,1.0,646,6510.0,-2.028572,-1.855728,NaN,-0.407939,-0.015434,-0.774979,...,1,NaN,0.003390,0.0,0,0.0,0,0,0,0
5,e9a150eb0f6c8129985085f1c997e161,0.0,2421,5399.0,0.678139,0.701403,-0.007469,1.157836,-0.015607,0.297169,...,0,0.001351,0.003390,0.0,0,0.0,0,0,0,0
6,836ee401ee369aedf090fc652823173e,0.0,2495,2171.0,-1.126335,-0.577162,-0.007469,-0.407939,-0.015607,0.277564,...,0,0.001351,0.003390,0.0,0,0.0,0,0,0,0
7,5446f25c8fa1da47a86c75902b1e656a,0.0,2495,6699.0,0.678139,0.701403,-0.007468,-0.296268,-0.015592,1.060594,...,0,0.001351,0.003390,0.0,0,0.0,0,0,0,0
8,689a2c2135e6f8805bb189577f3aec62,0.0,965,3605.0,0.678139,0.701403,-0.007468,0.247293,-0.015602,1.108208,...,0,0.001351,0.003390,0.0,0,0.0,0,0,0,0
9,1543f8e4bf1a896b7179e584926daaf2,0.0,1004,6492.0,-1.126335,-1.216445,-0.007468,-0.407939,-0.015607,0.963954,...,1,0.001351,0.003391,0.0,0,0.0,0,0,0,0

In [26]:
data = data.drop(columns=['ID'])

In [28]:
missing_value = data.isnull().sum()
missing_value

Column0          2
Column1          0
Column2          0
Column3      42234
Column4      42710
Column5      55659
Column6       1234
Column7          0
Column8       1234
Column9     243853
Column10         0
Column11         0
Column12         0
Column13         0
Column14    121679
Column15      5485
Column16         0
Column17         0
Column18         0
Column19         0
Column20         0
Column21         0
target           0
dtype: int64

In [29]:
# Calculate the percentage of missing values for each column
missing_percentage = (missing_value / len(data)) * 100

missing_data = pd.DataFrame({
    'Column': data.columns,
    'Missing_Percentage': missing_percentage
})

# Filter out columns where the missing percentage is 0
missing_data_non_zero = missing_data[missing_data['Missing_Percentage'] > 0].reset_index(drop=True)

(missing_data_non_zero)

     Column  Missing_Percentage
0   Column0            0.000764
1   Column3           16.137586
2   Column4           16.319466
3   Column5           21.267271
4   Column6            0.471511
5   Column8            0.471511
6   Column9           93.176087
7  Column14           46.493474
8  Column15            2.095815

In [30]:
data = data.drop(columns=['Column9'])

In [31]:
# Replace the missing values with its mean
data.fillna(data.mean(), inplace=True)

In [32]:
data.head(10)

,Column0,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column10,...,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column21,target
0,1.0,1986,53.0,0.678139,0.701403,-0.007469,-0.407939,-0.015607,0.554860,1,...,1,0.001351,0.003390,0.0,0,0.0,0,0,0,0
1,2.0,1579,12.0,0.678139,0.701403,-0.007468,-0.407939,-0.015607,0.142149,0,...,0,0.001351,0.003390,0.0,0,0.0,0,0,0,0
2,0.0,898,3817.0,-2.028572,-1.855728,0.000998,-0.407939,-0.015607,-0.774979,0,...,0,0.001313,0.003390,0.0,0,0.0,0,0,0,0
3,0.0,79,3449.0,-0.675216,-0.577162,-0.007469,0.004020,-0.015607,0.635264,0,...,1,0.001351,0.003390,0.0,0,0.0,0,0,0,0
4,1.0,646,6510.0,-2.028572,-1.855728,0.000998,-0.407939,-0.015434,-0.774979,1,...,1,0.001313,0.003390,0.0,0,0.0,0,0,0,0
5,0.0,2421,5399.0,0.678139,0.701403,-0.007469,1.157836,-0.015607,0.297169,0,...,0,0.001351,0.003390,0.0,0,0.0,0,0,0,0
6,0.0,2495,2171.0,-1.126335,-0.577162,-0.007469,-0.407939,-0.015607,0.277564,0,...,0,0.001351,0.003390,0.0,0,0.0,0,0,0,0
7,0.0,2495,6699.0,0.678139,0.701403,-0.007468,-0.296268,-0.015592,1.060594,0,...,0,0.001351,0.003390,0.0,0,0.0,0,0,0,0
8,0.0,965,3605.0,0.678139,0.701403,-0.007468,0.247293,-0.015602,1.108208,0,...,0,0.001351,0.003390,0.0,0,0.0,0,0,0,0
9,0.0,1004,6492.0,-1.126335,-1.216445,-0.007468,-0.407939,-0.015607,0.963954,1,...,1,0.001351,0.003391,0.0,0,0.0,0,0,0,0

In [33]:
# Save the DataFrame to a CSV file
data.to_csv('Testing.csv', index=False)