In [33]:
import numpy as np
import pandas as pd

In [34]:
input_data = pd.read_csv('X_Train_Data_Input.csv')
input_data.head(10)

,ID,Column0,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,...,Column12,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column21
0,ad1a67e4cbddc767a3456b0d94299b9e,2.0,2495,3726.0,0.678139,0.701403,-0.007468,0.434190,-0.015603,0.606265,...,0,0,0.001351,0.00339,0.0,0,0.0,0,0,0
1,7246d2f76ac0c217ec25e72ea5f014cb,0.0,2495,3454.0,0.452580,0.701403,-0.007468,1.554998,-0.015574,0.329946,...,0,0,0.001351,0.00339,0.0,0,0.0,0,0,0
2,22ba388e7dd14c13342c49e75fc29dda,2.0,2495,4543.0,-1.577453,-1.429540,-0.007469,-0.407939,-0.015607,-0.774979,...,1,1,0.001351,0.00339,0.0,0,0.0,0,0,0
3,59f9b981472d97342587fb3e6392aeb1,0.0,211,59.0,NaN,NaN,NaN,-0.407939,-0.015607,-0.774979,...,0,0,NaN,0.00339,0.0,0,1.0,0,0,0
4,f6317cf7ecf126859804eddff279aead,0.0,718,950.0,-2.028572,-1.855728,NaN,-0.407939,-0.015607,-0.774979,...,0,0,NaN,0.00339,0.0,0,0.0,0,0,0
5,500bf0fce5509f8faa0d59a3be66a7cb,0.0,886,2842.0,-1.126335,-1.216445,-0.007469,-0.407939,-0.015607,-0.774979,...,1,1,NaN,0.00339,0.0,0,0.0,0,0,0
6,5f8333ef730a6ce87968d0158a684e05,0.0,2495,2612.0,-2.028572,-1.855728,-0.007468,-0.402851,-0.015607,0.673163,...,1,1,0.001351,0.00339,0.0,0,0.0,0,0,0
7,35de3c8468023ca3cecdcc99f60c2c3d,0.0,2495,3053.0,0.678139,0.701403,-0.007468,-0.094001,-0.015605,0.136592,...,1,0,0.001351,0.00339,0.0,0,0.0,0,0,0
8,9625a2859019d065054db34a70cacc0b,2.0,657,137.0,-0.404545,-0.321449,-0.007467,-0.407939,-0.015607,0.634026,...,1,1,0.001351,0.00339,0.0,0,0.0,0,0,0
9,3eb10613bbe82e509ccb2fd5e74b9669,0.0,647,1678.0,-2.028572,-1.571603,-0.007469,-0.407939,-0.015607,-0.774979,...,0,0,NaN,0.00339,0.0,0,0.0,0,0,0

In [35]:
target = pd.read_csv('Y_Train_Data_Target.csv')
target.head(10)

                                 ID  target
0  ad1a67e4cbddc767a3456b0d94299b9e       0
1  7246d2f76ac0c217ec25e72ea5f014cb       0
2  22ba388e7dd14c13342c49e75fc29dda       0
3  59f9b981472d97342587fb3e6392aeb1       1
4  f6317cf7ecf126859804eddff279aead       0
5  500bf0fce5509f8faa0d59a3be66a7cb       0
6  5f8333ef730a6ce87968d0158a684e05       0
7  35de3c8468023ca3cecdcc99f60c2c3d       0
8  9625a2859019d065054db34a70cacc0b       0
9  3eb10613bbe82e509ccb2fd5e74b9669       0

In [36]:
target['target'].value_counts()

target
0    711100
1     74033
Name: count, dtype: int64

In [37]:
input_data.shape

(785133, 23)

In [38]:
target.shape

(785133, 2)

In [39]:
data = pd.merge(input_data, target, on = 'ID')

In [40]:
data.head(10)

,ID,Column0,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,...,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column21,target
0,ad1a67e4cbddc767a3456b0d94299b9e,2.0,2495,3726.0,0.678139,0.701403,-0.007468,0.434190,-0.015603,0.606265,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
1,7246d2f76ac0c217ec25e72ea5f014cb,0.0,2495,3454.0,0.452580,0.701403,-0.007468,1.554998,-0.015574,0.329946,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
2,22ba388e7dd14c13342c49e75fc29dda,2.0,2495,4543.0,-1.577453,-1.429540,-0.007469,-0.407939,-0.015607,-0.774979,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
3,59f9b981472d97342587fb3e6392aeb1,0.0,211,59.0,NaN,NaN,NaN,-0.407939,-0.015607,-0.774979,...,0,NaN,0.00339,0.0,0,1.0,0,0,0,1
4,f6317cf7ecf126859804eddff279aead,0.0,718,950.0,-2.028572,-1.855728,NaN,-0.407939,-0.015607,-0.774979,...,0,NaN,0.00339,0.0,0,0.0,0,0,0,0
5,500bf0fce5509f8faa0d59a3be66a7cb,0.0,886,2842.0,-1.126335,-1.216445,-0.007469,-0.407939,-0.015607,-0.774979,...,1,NaN,0.00339,0.0,0,0.0,0,0,0,0
6,5f8333ef730a6ce87968d0158a684e05,0.0,2495,2612.0,-2.028572,-1.855728,-0.007468,-0.402851,-0.015607,0.673163,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
7,35de3c8468023ca3cecdcc99f60c2c3d,0.0,2495,3053.0,0.678139,0.701403,-0.007468,-0.094001,-0.015605,0.136592,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
8,9625a2859019d065054db34a70cacc0b,2.0,657,137.0,-0.404545,-0.321449,-0.007467,-0.407939,-0.015607,0.634026,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
9,3eb10613bbe82e509ccb2fd5e74b9669,0.0,647,1678.0,-2.028572,-1.571603,-0.007469,-0.407939,-0.015607,-0.774979,...,0,NaN,0.00339,0.0,0,0.0,0,0,0,0

In [41]:
data.shape

(785133, 24)

In [42]:
# Drop the ID column:
data = data.drop(columns=['ID'])
data.shape

(785133, 23)

In [43]:
data

,Column0,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,...,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column21,target
0,2.0,2495,3726.0,0.678139,0.701403,-0.007468,0.434190,-0.015603,0.606265,NaN,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
1,0.0,2495,3454.0,0.452580,0.701403,-0.007468,1.554998,-0.015574,0.329946,NaN,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
2,2.0,2495,4543.0,-1.577453,-1.429540,-0.007469,-0.407939,-0.015607,-0.774979,NaN,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
3,0.0,211,59.0,NaN,NaN,NaN,-0.407939,-0.015607,-0.774979,NaN,...,0,NaN,0.00339,0.0,0,1.0,0,0,0,1
4,0.0,718,950.0,-2.028572,-1.855728,NaN,-0.407939,-0.015607,-0.774979,NaN,...,0,NaN,0.00339,0.0,0,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785128,0.0,304,1126.0,0.678139,0.701403,-0.007469,-0.407939,-0.015607,-0.774979,NaN,...,0,NaN,0.00339,0.0,0,1.0,0,0,0,0
785129,0.0,2495,2265.0,0.678139,0.701403,-0.007468,-0.407939,-0.015607,0.509591,NaN,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
785130,0.0,2495,3760.0,0.678139,0.701403,-0.007469,-0.407939,-0.015607,0.218972,NaN,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
785131,0.0,2480,4493.0,0.001462,0.062121,-0.007468,-0.407939,-0.015607,0.400071,NaN,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
785132,0.0,2495,4202.0,0.678139,0.701403,-0.007467,3.440511,-0.015603,0.471097,NaN,...,0,NaN,0.00339,0.0,0,0.0,0,0,0,0

In [44]:
# Missing values in each of the columns
missing_value = data.isnull().sum()
missing_value

Column0          9
Column1          0
Column2          0
Column3     126303
Column4     127710
Column5     167180
Column6       3850
Column7          0
Column8       3850
Column9     732137
Column10         0
Column11         0
Column12         0
Column13         0
Column14    365703
Column15     16456
Column16         0
Column17         0
Column18         0
Column19         0
Column20         0
Column21         0
target           0
dtype: int64

In [45]:
# Calculate the percentage of missing values for each column
missing_percentage = (missing_value / len(data)) * 100

missing_data = pd.DataFrame({
    'Column': data.columns,
    'Missing_Percentage': missing_percentage
})

# Filter out columns where the missing percentage is 0
missing_data_non_zero = missing_data[missing_data['Missing_Percentage'] > 0].reset_index(drop=True)

(missing_data_non_zero)

     Column  Missing_Percentage
0   Column0            0.001146
1   Column3           16.086829
2   Column4           16.266034
3   Column5           21.293208
4   Column6            0.490363
5   Column8            0.490363
6   Column9           93.250061
7  Column14           46.578478
8  Column15            2.095951

In [46]:
# Drop the column 9 cauz 93 % of values are actually missing
data = data.drop(columns='Column9')

In [47]:
# Mean imputation for numerical columns
data.fillna(data.mean(), inplace=True)

In [48]:
data.head(10)

,Column0,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column10,...,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column21,target
0,2.0,2495,3726.0,0.678139,0.701403,-0.007468,0.434190,-0.015603,0.606265,0,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
1,0.0,2495,3454.0,0.452580,0.701403,-0.007468,1.554998,-0.015574,0.329946,0,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
2,2.0,2495,4543.0,-1.577453,-1.429540,-0.007469,-0.407939,-0.015607,-0.774979,1,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
3,0.0,211,59.0,-0.000210,-0.000855,-0.000367,-0.407939,-0.015607,-0.774979,0,...,0,-0.000863,0.00339,0.0,0,1.0,0,0,0,1
4,0.0,718,950.0,-2.028572,-1.855728,-0.000367,-0.407939,-0.015607,-0.774979,0,...,0,-0.000863,0.00339,0.0,0,0.0,0,0,0,0
5,0.0,886,2842.0,-1.126335,-1.216445,-0.007469,-0.407939,-0.015607,-0.774979,1,...,1,-0.000863,0.00339,0.0,0,0.0,0,0,0,0
6,0.0,2495,2612.0,-2.028572,-1.855728,-0.007468,-0.402851,-0.015607,0.673163,0,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
7,0.0,2495,3053.0,0.678139,0.701403,-0.007468,-0.094001,-0.015605,0.136592,0,...,0,0.001351,0.00339,0.0,0,0.0,0,0,0,0
8,2.0,657,137.0,-0.404545,-0.321449,-0.007467,-0.407939,-0.015607,0.634026,1,...,1,0.001351,0.00339,0.0,0,0.0,0,0,0,0
9,0.0,647,1678.0,-2.028572,-1.571603,-0.007469,-0.407939,-0.015607,-0.774979,0,...,0,-0.000863,0.00339,0.0,0,0.0,0,0,0,0

In [18]:
data.to_csv('Training.csv', index=False)